body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.half-width img{
    width: 100%;
}

.top-baner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 20px;
}
.link-button{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background: rgb(109,70,218);
    background: linear-gradient(90deg, rgba(109,70,218,1) 0%, rgba(255,72,145,1) 50%);
}
.dream-section{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    /*
    width: 100%;
    padding-bottom: 20px;
    height: 500px;
    background-color: green;
    */
}

.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
   height: 60%;
   background-color: #fff;
}

.experience-section{
    /*
    width: 100%;
    height: 500px;
     */

    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;   
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
}

#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer{
    text-align: center;
    font-size: 12px;
}